{% extends 'base.html' %}
{% block content %}
<form method="POST">{% csrf_token %}
    <h1>Do you want to delete the product "{{product.title}}"?</h1>
    <p><input type="submit" value="Yes"><a href="../../">Cancel</a></p>
</form>
{% endblock %}