{% extends 'base.html' %}
{% block content %}
<h1>Product's List</h1>
<table border="1 px solid">
    <thead>
        <tr>
            <th>sn</th>
            <th>Title</th>
            <th>Price</th>
            <th>Descriptions</th>
            <th>Show</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for item in product|slice:":10" %}
            <tr class="hjh">
                <td></td>
                <td>
                    {{item.title}}
                </td>
                <td>
                    {{item.price}}
                </td>
                <td>
                    {{item.descriptions}}
                </td>
                <td><a href="{% url 'product_details_view' item.id %}">View</a></td>
                <td><a href="{% url 'product-delete' item.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}